<div id="one">
  <div class="container">    
    <body>
        <h1>Contactez-nous</h1>

      <br>
      <div class="card">
        <div class="card-header">
          <h3>Nous sommes joignables au :</h3>
        </div>
        <div class="card-body">
          <p>+ 33 6XX XX XX XX</p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-header">
          <h3>Et retrouvez nous sur :</h3>
        </div>
        <div class="card-body">
          <p>facebook</p>
          <p>twitter</p>
          <p>myspace</p>
        </div>
      </div>
    </body>
  </div>
</div>