<div id="one">
  <div class="container"> 
    <h1>Voici notre équipe &#128526;</h1>

    <br>
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://ca.slack-edge.com/T3W8B88JW-USHDXEV0Q-1e9ad1e3547a-512" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Josselin Julien</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem; margin-left: 70px">
          <img class="card-img-top" src="https://ca.slack-edge.com/T3W8B88JW-US6046SSX-e47384287c3a-512" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Raphaël Chappert</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>